    <div class="bo">
    <nav>
      <div class="logo">Health.</div>
      <div class="list">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Doctor</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">review</a></li>
        </ul>
      </div>
      <div class="buttons">
        <a href="login_page.html">Log In</a>
        <a href="#" class="secondary-btn">Sign up</a>
      </div>
    </nav>
    <div class="main-about">
      <div class="left-about"><div class="image-container"><img src="../../../assets/images/about.jpg" alt=""></div></div>
      <div class="right-about">
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cumque
          harum et totam ad voluptas. Minima debitis vel voluptate cumque. Harum
          reiciendis porro sequi molestias quo sed corporis, dicta
          reprehenderit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cumque
          harum et totam ad voluptas. Minima debitis vel voluptate cumque. Harum
          reiciendis porro sequi molestias quo sed corporis, dicta
          reprehenderit.
        </p>
        <a href="#" class="secondary-btn">Read more</a>
      </div>
    </div>
  </div>
