
    <!-- <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="patient.css" />
    <link rel="stylesheet" href="graph.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body> -->
    <!-- navbar -->
    <div class="bo">
    <nav>
      <div class="profile">
        <div class="profile-image">
          <img src="assets/images/60111.jpg" alt="profile_image" />
        </div>
        <h3 class="profile-name">Arfaoui</h3>
        <p>achref</p>
      </div>
      <!-- profile info -->
      <div class="information-p">
        <p>nice</p>
        <p>day</p>
        <p>nice</p>
        <p>day</p>
        <p>nice</p>
        <p>day</p>
      </div>
      <!-- end profile info -->
      <div class="profile-logout">
        <div class="btn-logout">
          <a href="#"><img src="assets/images/logout.png" alt="logout" /></a>
        </div>
        <a href="#">Log out</a>
      </div>
    </nav>
    <main>
      <div class="graph">
        <div class="home">
          <a routerLink="/accueil">
            <i class="fa-solid fa-left-long fa-lg"></i>
          </a>
        </div>

        <div class="circle-1" id="circle">Patient</div>
        <div class="circle-2" id="circle" style="--rotation-angle: 0deg">
          <div class="rotate-child"><a href="#">link</a></div>
        </div>
        <div class="circle-3" id="circle" style="--rotation-angle: 45deg">
          <div class="rotate-child">nice</div>
        </div>
        <div class="circle-4" id="circle" style="--rotation-angle: 90deg">
          <div class="rotate-child">nice</div>
        </div>
        <div class="circle-5" id="circle" style="--rotation-angle: 135deg">
          <div class="rotate-child">nice</div>
        </div>
        <div class="circle-6" style="--rotation-angle: 180deg" id="circle">
          <div class="rotate-child">nice</div>
        </div>
        <div class="circle-7" id="circle" style="--rotation-angle: 225deg">
          <div class="rotate-child">seven nice</div>
        </div>
        <div class="circle-8" id="circle" style="--rotation-angle: 270deg">
          <div class="rotate-child">eight nice</div>
        </div>
        <div class="circle-9" id="circle" style="--rotation-angle: 315deg">
          <div class="rotate-child">eight nice</div>
        </div>
      </div>
      <div class="patient-info">
        <div class="grid-item">
          <p style="font-weight: 700">Contact info:</p>
        </div>
        <div class="grid-item">
          <p>achref</p>
        </div>
        <div class="grid-item">
          <p>arfaoui</p>
        </div>
        <div class="grid-item">
          <p>achref.halwani@gmail.com</p>
        </div>
        <div class="grid-item">
          <p>20100300</p>
        </div>
      </div>
    </main>
  </div>
