<div class="bo">
  <!-- navbar -->
  <nav>
    <div class="profile">
      <div class="profile-image">
        <img src="assets/images/images.jfif" alt="profile_image" />
      </div>
      <h3 class="profile-name">Dr. Riddle</h3>
      <p>scientist</p>
    </div>
    <!-- profile info -->
    <div class="information-doc">
      <p>nice</p>
      <p>day</p>
      <p>nice</p>
      <p>day</p>
      <p>nice</p>
      <p>day</p>
    </div>
    <!-- end profile info -->
    <div class="profile-logout">
      <div class="btn-logout">
        <a href="#"><img src="assets/images/logout.png" alt="logout" /></a>
      </div>
      <a href="#">Log out</a>
    </div>
  </nav>
  <!-- main content -->
  <main>
    <div class="users-list">
      <div class="consult-users-nav">
        <h3 class="list-header">Consult Patients</h3>
        <div class="search-bar">
          <input type="text" placeholder="Search" name="profil" id="profil" />
          <a href="#">Search</a>
        </div>
      </div>
      <div class="list-wrapper">
        <ul class="list">
          <li class="list-item">
            <div class="list-left">
              <div class="image-container">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg"
                  class="list-item-image"
                />
              </div>
              <div class="list-item-content">
                <h4>Hitesh Kumar</h4>
                <p>@hk-skit</p>
              </div>
            </div>
            <div class="last-seen">02/01/2023</div>
            <div class="list-right">
              <a routerLink="/patient">Consult</a>
              <i class="fa-solid fa-arrow-right-long" id="fa"></i>
            </div>
          </li>
          <li class="list-item">
            <div class="list-left">
              <div class="image-container">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg"
                  class="list-item-image"
                />
              </div>
              <div class="list-item-content">
                <h4>Hitesh Kumar</h4>
                <p>@hk-skit</p>
              </div>
            </div>
            <div class="last-seen">02/01/2023</div>
            <div class="list-right">
              <a href="graph.html">Consult</a>
              <i class="fa-solid fa-arrow-right-long" id="fa"></i>
            </div>
          </li>
          <li class="list-item">
            <div class="list-left">
              <div class="image-container">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg"
                  class="list-item-image"
                />
              </div>
              <div class="list-item-content">
                <h4>Hitesh Kumar</h4>
                <p>@hk-skit</p>
              </div>
            </div>
            <div class="last-seen">02/01/2023</div>
            <div class="list-right">
              <a href="graph.html">Consult</a>
              <i class="fa-solid fa-arrow-right-long" id="fa"></i>
            </div>
          </li>
          <li class="list-item">
            <div class="list-left">
              <div class="image-container">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg"
                  class="list-item-image"
                />
              </div>
              <div class="list-item-content">
                <h4>Hitesh Kumar</h4>
                <p>@hk-skit</p>
              </div>
            </div>
            <div class="last-seen">02/01/2023</div>
            <div class="list-right">
              <a href="graph.html">Consult</a>
              <i class="fa-solid fa-arrow-right-long" id="fa"></i>
            </div>
          </li>
          <li class="list-item">
            <div class="list-left">
              <div class="image-container">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg"
                  class="list-item-image"
                />
              </div>
              <div class="list-item-content">
                <h4>Hitesh Kumar</h4>
                <p>@hk-skit</p>
              </div>
            </div>
            <div class="last-seen">02/01/2023</div>
            <div class="list-right">
              <a href="graph.html">Consult</a>
              <i class="fa-solid fa-arrow-right-long" id="fa"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
    </div>
  </main>
</div>
