<link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
<div class="bo">
<nav>
  <div class="logo">Health.</div>
  <div class="list">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Doctor</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">review</a></li>
    </ul>
  </div>
  <div class="buttons">
    <a routerLink="/login">Log In</a>
    <a href="#" class="secondary-btn">Sign up</a>
  </div>
</nav>
<main>
  <div class="left">
    <h1>Feel Better About Finding Healthcare</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, aliquid
      repellat! Non corrupti, et consectetur officiis sunt eius officia
      voluptatibus reiciendis doloremque beatae quia, rerum voluptas ipsum
      similique aperiam minus.
    </p>
    <div class="buttons">
      <a routerLink="/login" class="primary-btn">Get Started</a>
      <a routerLink="/about-us" class="secondary-btn">Learn More</a>
    </div>
  </div>
  <div class="right"><img src="../assets/images/doctor.png" alt="" /></div>
</main>
</div>

